//
html, body {
    height: 100%;
    width: 100%;
}
$primary: orange;
@import '~bootstrap/scss/bootstrap';
@import 'stars';

#nav-spacer {
    height: 100px;
}

#toggle-nav-parent {

    z-index: 999999;

    a {
        outline: none;
    }
}
#main-nav {
    background: rgba(0,0,0,0.8);

    @include media-breakpoint-down(xs) {
        ul {
            width: 100%;
        }
    }

    li:not(.dropdown) {
        a {
            display: block;
            padding: 25px 20px;
            //color: white;
            transition: all ease-in-out 0.4s;
            text-decoration: none;

            i {
                color: $white;
                transition: all ease-in-out 0.4s;
                margin-right: 10px;
            }

            &:hover {
                color: $white;

                i {
                    color: $orange;
                }
            }
        }
    }

    @include media-breakpoint-down(md)
    {
        &.open {
            top: 0;
            height: 100%;

            width: 100%;
            z-index: 99999;
            background: rgba(0,0,0,1);

            ul {
                justify-content: center;
                align-content: center;
                display: flex;
                align-items: center;
                justify-items: center;
                flex-direction: column;

                a {
                    border: 1px solid transparent;
                    padding: 20px 80px;
                    text-decoration: none;

                    &:hover {
                        border: 1px solid $primary;
                    }
                }
            }
        }
    }


}

.o-50 {
    opacity: 50%;
}

.z-100 {
    z-index: 100;
}

section#intro {
    margin-top: -100px;
}

#intro-heading {

    z-index: 9999;

    h1 {
        color: #FFF;
        text-align: center;
        font-family: "lato", sans-serif;
    }

    h1, h5 {
        background: -webkit-linear-gradient(white, #fb5f01);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.animate-flow {
    animation: animateFlow infinite 1s ease-in-out;
    color: $orange;
}

@keyframes animateFlow {
    0% {
        color: $orange;
    }

    50% {
        color: $white;
    }
}


.ais-Pagination-list {
    @extend .pagination;
    @extend .justify-content-center;

    li {
        @extend .page-item;

        &.ais-Pagination-item--selected {
            @extend .active;
        }

        &.ais-Pagination-item--disabled {
            @extend .disabled;
        }

        a,span {
            @extend .page-link;
        }
    }


}

#floating-nav {
    z-index: 999999;
    top: 74px;

    background: white;
    ul {
        background: white;
        li {
            a {
                background: white;
                padding: 20px 40px;
            }
        }
    }
}

#rating-menu {
    a {
        display: block;
        &:not(.refined) {
            color: lighten($orange, 20%);
        }
        &.refined, &:hover {
            color: $orange;
        }
    }
}

section#marketplace {
    div#hits .card {
        transition: all ease-in-out  0.3s;
        &:hover {
            border-color: $orange;
            box-shadow: 1px 1px 1px rgba($orange, 50%);
        }
    }
}

section#features {

    .feature-item {
        border: 1px solid transparent;
        transition: all ease-in-out .3s;

        i {
            transition: all ease-in-out .3s;
        }


        &:hover {
            border: 1px solid $primary;
            box-shadow: 0px 5px 15px -10px rgba($black, 50%);
            transform: scale(1.2);
        }
    }
}
